.footer__copyright {
    margin: 67px auto 0;
    padding: 0;
    width: calc(100% - 38px);
    max-width: 880px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 390px) {
    .footer__copyright {
        margin: 48px auto 0;
        font-size: 14px;
        line-height: 17px;
    }
}