.login__link {
    margin: 15px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity .2s ease-in;
}
.login__link:hover {
    opacity: .6;
}

@media screen and (max-width: 390px) {
    .login__link {
        margin: 20px 0 0;
    }
}