.login__submit-btn {
    margin: 185px 0 0;
    min-height: 50px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: black;
    border: 0;
    background-color: white;
    border-radius: 2px;
    transition: opacity .2s ease-in;
}

.login__submit-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 390px) {
    .login__submit-btn {
        margin: 142px 0 0;
        min-height: 46px;
        font-size: 16px;
        line-height: 19px;
    }
}