.popup__input {
    margin: 0 0 6px;
    padding: 0 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input::placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.popup__input:-ms-input-placeholder {
    color: #C4C4C4;
}

.popup__input::-ms-input-placeholder {
    color: #C4C4C4;
}