.popup__submit-btn {
    margin: 16px 0 36px;
    min-height: 50px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: white;
    border: 0;
    background-color: black;
    border-radius: 2px;
    transition: opacity .2s ease-in;
}

.popup__submit-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 350px) {
    .popup__submit-btn {
        margin: 45px 0 25px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}