@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__fa-bars/header__fa-bars.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link-exit/header__link-exit.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__links-container/header__links-container.css);

@import url(./blocks/button/button.css);

@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__field/login__field.css);
@import url(./blocks/login/__close-btn/login__close-btn.css);
@import url(./blocks/login/__heading/login__heading.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__input/_type_error/login__input_type_error.css);
@import url(./blocks/login/__error/_visible/login__error_visible.css);
@import url(./blocks/login/__submit-btn/login__submit-btn.css);
@import url(./blocks/login/__submit-btn/_inactive/login__submit-btn_inactive.css);
@import url(./blocks/login/__link/login__link.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit-btn/profile__avatar-edit-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/cards__name/cards__name.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__likes-amount/cards__likes-amount.css);
@import url(./blocks/cards/__like/_active/cards__like_active.css);
@import url(./blocks/cards/__delete/cards__delete.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__opened/popup__opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_center/popup__container_center.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/_center/popup__heading_center.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/__submit-btn/_inactive/popup__submit-btn_inactive.css);

@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__close-btn/popup-image__close-btn.css);
@import url(./blocks/popup-image/__image/popup-image__image.css);
@import url(./blocks/popup-image/__heading/popup-image__heading.css);

@import url(./blocks/footer/__copyright/footer__copyright.css);